body{

margin:0;
font-family:Inter,system-ui;

background:#0f172a;
color:white;

}

.navbar{

display:flex;
justify-content:space-between;
padding:20px 40px;

background:#020617;

}

.container{

text-align:center;
margin-top:60px;

}

h1{

font-size:40px;
background:linear-gradient(90deg,#22c55e,#38bdf8);
-webkit-background-clip:text;
-webkit-text-fill-color:transparent;

}

.card{

background:#111827;

width:380px;

margin:30px auto;

padding:30px;

border-radius:14px;

box-shadow:0 20px 60px rgba(0,0,0,0.5);

}

input,select{

width:100%;

margin-top:12px;

padding:12px;

border-radius:8px;

border:none;

background:#1f2937;

color:white;

}

button{

margin-top:15px;

padding:12px;

border:none;

border-radius:8px;

cursor:pointer;

}

.generate{

width:100%;

background:linear-gradient(90deg,#6366f1,#22c55e);

color:white;

font-weight:bold;

}

ul{

list-style:none;
padding:0;

}

li{

background:#1f2937;
margin-top:5px;
padding:8px;
border-radius:6px;

}

#preview{

margin-top:30px;

font-family:monospace;

white-space:pre;

background:#020617;

padding:20px;

width:380px;

margin-left:auto;
margin-right:auto;

border-radius:10px;

color:#22c55e;

}

/* light theme */

.light{

background:#f1f5f9;
color:black;

}

.light .card{

background:white;

}

.light input,
.light select{

background:#e2e8f0;
color:black;

}
